@import "include/variables"; // 변수

.event_wrap {
    width: 100%;
    position: relative;
    z-index: 10;
    text-align: left;
    margin: 0 auto;

    .section {
        font-size: 0;
        line-height: 0;
        position: relative;
        clear: both;
        zoom: 1;
    }

    .inner {
        position: relative;
        margin: 0 auto;
        width: 1080px;
    }

    .top {
        position: relative;
        overflow-y: hidden;
        overflow-x: auto;
        background: url('../img/interaction/background.jpg') no-repeat center center / cover;

        .home {
            position: absolute;
            top: 0;
            right: 0;
            display: inline-block;
            opacity: 1;
            z-index: 10;
        }

        span {
            opacity: 0;
            position: absolute;
            display: inline-block;
        }

        .txt1 {
            bottom: 220px;
            left: 0;
            z-index: 2;
            width: 51%;
            opacity: 0;
            animation: moving 0.5s forwards;
        }

        .txt2 {
            bottom: 60px;
            left: 4%;
            z-index: 3;
            width: 41%;
            animation: moving 0.5s 0.5s forwards;
        }

        .txt3 {
            bottom: 276px;
            right: 30%;
            width: 3.7%;
            animation: opacity 0.5s 3s forwards;
            
            img {
                animation: shake-vertical 10s -3s ease-in-out infinite both;
            }
        }

        .person {
            bottom: 10px;
            right: 6.48%;
            z-index: 4;
            width: 22.96%;
            position: absolute;
            animation: scale 0.7s 0.5s ease-in-out both;
        }

        .alphabet01 {
            bottom: 335px;
            right: 29.6%;
            z-index: 5;
            width: 10%;
            animation: opacity 0.5s 1.5s forwards;

            img {
                width: 100%;
                animation: shake-vertical 10s 0s ease-in-out infinite both;
            }
        }

        .alphabet02 {
            bottom: 267px;
            right: 18.98%;
            z-index: 5;
            width: 11%;
            animation: opacity 0.5s 2s forwards;

            img {
                animation: shake-vertical 10s -1.5s ease-in-out infinite both;
            }
        }

        .alphabet03 {
            bottom: 450px;
            right: 0;
            z-index: 5;
            width: 7.9%;
            animation: opacity 0.5s 2.5s forwards;
        
            img {
                animation: shake-vertical 10s 0s ease-in-out infinite both;
            }
        }
    }

    .book_wrap {
        margin-top: 50px;
        min-width: 1080px;
    }

    .swiper-wrapper {
        transition-timing-function: linear;
    }

    .book_slide .swiper-slide {
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
        width: auto;

        img {
            width: auto;
            max-height: 150px;
        }
    }

    .img_contents {
        position: relative;
        min-height: 650px;
        margin-top: 80px;
    }
}

@keyframes moving {
    0% {opacity: 0; transform: translateX(-50%);}
    100% {opacity: 1; transform: translateX(0);}
}

@keyframes shake-vertical {
    0%, 100% {transform: translateY(0);}
    10%, 30%, 50%, 70% {transform: translateY(-4px);}
    20%, 40%, 60% {transform: translateY(4px);}
    80% {transform: translateY(6.8px);}
    90% {transform: translateY(-6.8px);}
}

@keyframes opacity {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes scale {
    0% {opacity: 0; transform: scale(2);}
    100% {opacity: 1; transform: scale(1);}
}