@import "include/variables"; // 변수

body {
    padding: 0;
    margin: 0;
    font-size: 14px;
    letter-spacing: -0.2px;
    word-break: keep-all;
    font-family: sans-serif;
    overflow-x: hidden;
}

.blind {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
}

.mobile {
    &_wrap {
        max-width: 414px;
    } // .mobile_wrap

    &_title {
        font-weight: normal;
        font-size: 18px;
        position: absolute;
        top: -35px;
        left: 0;
        color: $white;
    } // .mobile_title
}

.device_wrap {
    position: relative;
    width: 100%;
    height: calc(100vh - 279px);
    margin: 0 auto;
    border-radius: 8px;
    border-width: 50px 35px;
    border-color: $black;
    border-style: solid;
    z-index: 1000;
    box-sizing: border-box;
    
    @media screen and (min-width: 992px) {
        height: calc(100vh - 234px);
    }
}

.contents_wrap {
    position: relative;
    max-width: 344px;
    width: 100%;
    box-sizing: border-box;
}

.container {
    @media screen and (min-width: 992px) {
        display: flex;
    }
}

.main {
    &_flex_wrap {
        .device_wrap {
            &:not(:last-child) {
                margin-bottom: 50px;
            }
        }

        @media screen and (min-width: 1280px) {
            display: flex;

            .pc_wrap {
                margin-right: 20px;
            }

            .device_wrap {
                &:not(:last-child) {
                    margin-bottom: 0;
                }
            }
        }
    } // .main_flex_wrap

    &_header {
        display: flex;
        padding: 20px 26px;
        box-sizing: border-box;
        border-bottom: solid 1px #ccc;
        background-color: $white;
        align-items: center;

        &_logo {
            vertical-align: top;

            &_link {
                display: inline-block;
            } // .main_header_logo_link

            &_wrap {
                flex: 1;
            } // .main_header_logo_wrap
        } // .main_header_logo

        &_link {
            position: relative;
            color: $black;

            &.new::after {
                position: absolute;
                top: 0;
                right: -13px;
                display: block;
                @include sprite($new-tab);
                content: '';
            }
        } // .main_header_link
    } // .main_header

    &_nav {
        @media screen and (min-width: 992px) {
            min-width: 240px;
            height: 100%;
            min-height: calc(100vh - 140px);
            background-color: $white;
            padding: 47px 27px;
            box-sizing: border-box;
            border-right: solid 1px #ccc;
        }

        .device_type {
            line-height: 12px;
            font-size: 12px;
            color: $white;
            font-weight: bold;
            background-color: #6eb327;
            padding: 0 5px;
        }

        &_list {
            display: flex;
            white-space: nowrap;
            overflow-x: auto;

            @media screen and (min-width: 992px) {
                display: block;
                width: auto;
                overflow-x: initial;
                white-space: initial;
            }
        }

        &_item {
            margin: 5px;

            @media screen and (min-width: 992px) {
                margin: 10px;

                &:first-child {
                    margin: 0;
                }
                
                &:not(:first-child) {
                    margin: 20px 0 0 0;
                }
            }
        } // .main_nav_item

        &_text {
            @media screen and (max-width: 991px) {
                position: absolute;
                clip: rect(0 0 0 0);
                width: 1px;
                height: 1px;
                margin: -1px;
                overflow: hidden;
            }

            @media screen and (min-width: 992px) {
                font-size: 20px;
            }
        } // .main_nav_text

        &_link {
            position: relative;
            display: inline-block;
            color: $black;
            font-size: 14px;
            padding: 5px 0 3px;
        } // .main_nav_link

        &_sub {
            &_list {
                display: flex;

                @media screen and (min-width: 992px) {
                    display: block;
                    margin-top: 5px;
                }
            } // .main_nav_sub_list

            &_item {
                padding-top: 5px;
                padding-bottom: 5px;

                &:not(:last-child) {
                    margin-right: 15px;
                }

                @media screen and (min-width: 992px) {
                    &:not(:last-child) {
                        margin-right: 0;
                    }

                    &.division {
                        border-bottom: 1px dashed #ccc;
                    }
                }
            } // .main_nav_sub_item

            &_text {
                position: relative;

                &::after {
                    position: absolute;
                    left: 0;
                    bottom: -2px;
                    display: block;
                    width: 0%;
                    height: 1px;
                    background-color: $black;
                    transition: width 0.4s;
                    content: '';
                }

                &:hover::after {
                    width: 100%;
                }
            } // .main_nav_sub_text
        }
    } // .main_nav

    &_section:not(:last-child) {
        margin-bottom: 30px;
    } // .main_section

    &_title {
        margin-bottom: 10px;
    } // .main_title

    &_info {
        &_text {
            display: block;

            &:not(:last-child) {
                margin-bottom: 10px;
            }
        } // .main_info_text

        &_item {
            position: relative;
            padding-left: 10px;

            &:not(:last-child) {
                margin-bottom: 7px;
            }

            small {
                margin-left: 10px;
                color: $point;
            }

            &::before {
                display: block;
                width: 5px;
                height: 5px;
                position: absolute;
                left: 0;
                top: 5px;
                border-radius: 50%;
                background-color: #6eb327;
                content: '';
            }
        } // .main_info_item
    }

    &_contents {
        padding: 47px 38px;

        @media screen and (min-width: 992px) {
            flex: 1;
            box-sizing: border-box;
            width: calc(100% - 240px);
        }
    } // .main_contents

    &_footer {
        height: 50px;
        padding: 16px;
        background-color: #f1f1f1;
        text-align: center;
        box-sizing: border-box;

        &_text {
            font-size: 13px;
            color: $darkgray;
        } // .main_footer_text
    } // .main_footer
}

.new_tab_link {
    position: relative;
    display: block;
    color: $white;
    padding: 10px 15px 10px 10px;

    &::after {
        position: absolute;
        top: 10px;
        right: 0;
        display: block;
        @include sprite($new-tab-white);
        content: '';
    }
    
    &_wrap {
        position: absolute;
        bottom: -40px;
        right: 0;
        z-index: 10000;
    } // .new_tab_link_wrap
}