@import "include/variables"; // 변수

.btn {
  &_wrap {
    position: fixed;
    right: 20px;
    bottom: 70px;
    z-index: 1000;
  } // .btn_wrap

  &_ring {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    animation: ring 2s ease infinite;
    background-repeat: no-repeat;
    background-color: $white;
    background-size: 24px 24px;
    background-position: center center;
    background-image: url('../img/ico_notice_off.png');
    box-shadow: 2px 2px 4px 0 rgb(0 0 0 / 8%);
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
  } // .btn_ring
}

@keyframes ring {
  0% {
    transform: rotate(-15deg);
  }

  2% {
    transform: rotate(15deg);
  }

  4% {
    transform: rotate(-18deg);
  }

  6% {
    transform: rotate(18deg);
  }

  8% {
    transform: rotate(-22deg);
  }

  10% {
    transform: rotate(22deg);
  }

  12% {
    transform: rotate(-18deg);
  }

  14% {
    transform: rotate(18deg);
  }

  16% {
    transform: rotate(-12deg);
  }

  18% {
    transform: rotate(12deg);
  }

  20% {
    transform: rotate(0deg);
  }
}
