
.service {
    padding: 0 15px;

    @media screen and (min-width: 992px) {
        padding: 0;
        max-width: 992px;
        margin: 0 auto;
    }
    
    &_text {
        font-size: 18px;
        line-height: 1.5;
    
        @media screen and (min-width: 992px) {
            width: 80%;
            font-size: 24px;
        }
    
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    
        &_wrap {
            margin: 50px 0;
    
            @media screen and (min-width: 992px) {
                margin: 100px 0;
            }
        } // .service_text_wrap
    } // .service_text

    .point {
        font-size: 60px;
        color: $point;
    }
}