/* 비주얼 - 이미지 움직이는 영역 */
.visual {
    background: url("../img/slide_bg.png") center center / 3000px 600px;
    width: 100%;
    height: 600px;
    animation: slidehomeBig 100s linear infinite;

    &_moving_image {
        &_wrap {
            position: relative;
            width: 100%;
            max-width: 992px;
            margin: 0 auto;
        } // .visual_moving_image_wrap
    
        &_title {
            position: absolute;
            top: 100px;
            left: 15px;
            width: calc(100% - 30px);
            font-weight: bold;
            line-height: 1.5;
    
            @media screen and (min-width: 992px) {
                left: 0;
                width: 100%;
            }
        } // .visual_moving_image_title
    
        &_line {
            overflow-y: hidden;
            color: #fff;
            font-size: 0;
    
            &:last-child span:last-child {
                margin-bottom: 0;
            }
    
            @media screen and (min-width: 768px) {
                display: block;
            }
    
            span {
                display: inline-block;
                padding: 0 5px;
                background-color: $point;
                margin-bottom: 5px;
                font-size: 28px;
                word-break: break-all;
    
                @media screen and (min-width: 768px) {
                    display: inline-block;
                    padding: 0 10px;
                    margin-bottom: 0;
                    font-size: 40px;
                }
    
                &.animate {
                    position: relative;
                    animation: text-up 1s cubic-bezier(.4, 0, .2, 1) both;
    
                    @at-root .visual_moving_image_line:nth-of-type(2) & {
                        animation-delay: 0.1s;
                    }
                }
            }
        } // .visual_moving_image_line
    }    
}