$point: #6eb327;
$white: #fff;
$swiperButtonBackColor: rgba(255, 255, 255, .3);

$gray1: #999;
$gray2: #ccc;
$gray3: #EFEFEF;

$text1: #000;
$text2: #666;
$text3: #767676;
$text4: #A2A2A2;
$text_point_green: #3C9A17;
$text_point_blue: #474C98;

$primary_blue1: #454AAE;
$primary_blue2: #5F77F9;
$primary_blue3: #85A0FF;
$primary_blue4: #BBCAFF;

$primary_green1: #4DAC27;
$primary_green2: #70BC52;
$primary_green3: #92D051;
$primary_red: #FF5863;